# ===== SERVER =====
PORT=3001
NODE_ENV=development
DB_PATH=./db/mama-plan.sqlite
VK_APP_ID=54558269
VK_APP_SECRET=your_app_secret_from_dev_vk

# ===== CLIENT =====
VITE_API_URL=http://localhost:3001
VITE_VK_APP_ID=54558269